html{ font-family: 'Roboto', 'Shrikhand', sans-serif;
}

.main-container{
  width: 90%;
  background-color: lightcoral;
  margin: 0 auto;
}








/*FOOTER STYLES*/
footer {
	display: flex;
	flex-direction: row;
}

i {
	display: inline;
}