html{ font-family: 'Roboto', 'Shrikhand', sans-serif;
}
/*CHANGE BODY COLOR BACK TO WHITE WHEN FINISHED*/
body{
  background-color: lightcoral;
}
.main-container{
  width: 90%;
  background-color: lightgray;
  margin: 0 auto;
}
/* Navigation Styles */
nav{
  background-color: white;
}
.navbar-flex-container{
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  height:60px;
  align-items: center;
}
/*LOGO nav*/
.item-1{
  margin-right: auto;
}

.navbar-child{
  padding: 0 10px;
}

/*History Styling*/

#company-history{
  padding: 2em;
  margin: 2em;
  border: 5px;
  border-radius: 15px;
  background-color: white;
}

#address-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#map {
   width: 60%;
   height: 400px;
   background-color: grey;
   border: none;
   border-radius: 25px;
 }

 /* Smaller screens stack in collumns */
@media all and (max-width: 700px) {
  #address-container {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
  #map {
    width: 100%;
  }
}
  

/*JOB LISTINGS STYLES*/
.jobs-row {
  display: flex;
  flex-direction: row;
}

.jobs-col {
  margin: 2em;
}

.jobs-main {
  width: 80%;
}

.jobs-side {
  width: 20%;
}

.jobs-img {
  margin: 1em;
  width: 50%;
}

.jobs-ul {
  list-style-type: none;
}

nav a:visited, a:link{
  text-decoration: none;
  color: black;
}

nav a:hover{
    color: black;
    text-decoration: underline;
}

nav a:active{
    color: black;
    text-decoration: underline;
}

/*FOOTER STYLES*/
footer {
	display: flex;
	flex-direction: row;
}

.copyright {
  width: 50%;
}

.social {
  width: 50%;
}

footer ul {
  display: flex;
  list-style-type: none;
}

footer h6 {
  font-size: 1em;
  margin-left: 2em;
}

.social img {
  width: 40%;
}
